
 img {
    object-fit: cover;
    width: 400px;
    height: 300px;
  }

  .title{
    text-align: center;
    width: 450px;
    height: 150px;
  }

 body {
    background: radial-gradient( #eeb9bc,#ee67ab);
    font-weight: 900;
  }