h1{
  font-style: italic;
    background-color: rgb(252, 198, 23);
    text-align: center;
 }

 .shadow {
  text-shadow: 5px 5px 2px silver;
 }
 img {
    object-fit: cover;
    width: 200px;
    height: 150px;
    
  }
  body {font-family: "Comic Sans MS" ;
    background: radial-gradient( #eeb9bc,#ee67ab);
  }

  tbody{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

 .i:hover {
    font-size: 2rem;
}

.u:hover {
  font-size: 2rem;
}
