h1{
  font-style: italic;
    background-color: rgb(252, 198, 23);
    text-align: center;
 }

 .shadow {
  text-shadow: 5px 5px 2px silver;
 }
 img {
    object-fit: cover;
    width: 200px;
    height: 150px;
    
  }
  body {font-family: "Comic Sans MS" ;
    background: radial-gradient( #eeb9bc,#ee67ab);
  }

  tbody{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

 .i:hover {
    font-size: 2rem;
}

.u:hover {
  font-size: 2rem;
}

@keyframes fadeIn {
  to { opacity: 1; }
}
.c1, .c2, .c3, .c4, .c5, .c6 {
  opacity: 0;
  animation: 2.0s linear forwards fadeIn;
}
.c1 { animation-delay: 0.0s; }
.c2 { animation-delay: 0.5s; }
.c3 { animation-delay: 1.0s; }
.c4 { animation-delay: 1.5s; }
.c5 { animation-delay: 2.0s; }
.c6 { animation-delay: 2.5s; }