h1{
    background-color: rgb(252, 198, 23);
 }

 img {
    object-fit: cover;
    width: 200px;
    height: 150px;
  }
  body {
    background: radial-gradient( #eeb9bc,#ee67ab);
  }

  tbody{
    text-align: center;
    align-items: center;
    justify-content: center;
  }