<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理する</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

    <h1 class="title">
     <span>題</span>
  <span>名</span>
  <span>を</span>
  <span>押</span>
  <span>す</span>
  <span>と</span>
  <span>評</span>
  <span>価</span>
  <span>で</span>
  <span>き</span>
  <span>る</span>
  <span>よ</span>
  <span>!</span>
  <span>!</span></h1>
    <div class="container" >
        <table class="table table-striped">
            
            <thead class="thead-dark">
            <tr>
               
                <th>ニックネーム</th>
                <th>投稿日</th>
                <th>アップロード画像</th>
                <th>題名</th>
            </tr>   <a th:href="@{ogiri/new}">新規投稿する方はこちらから</a><br>
                    <a th:href="@{/login}">管理者の方はこちらから</a> 
            </thead>

            <tbody> 
                <tr th:each="post : ${posts}" th:object="${post}" enctype="multipart/form-data" th:action="@{/ogiri/{id}(id=${post.id})}">
                   
                    <td th:text="*{nickname}"></td>
                    <td th:text="*{date}"></td>
                    <td>
                        <img th:src="*{imageSource}" alt="image">
                    </td>
                    <td>
                    <a th:href="@{/ogiri/{id}/eval(id=*{id})}" th:text="*{title}"></a>
                    </td>
                    <td>
                    <a th:href="@{/ogiri/{id}/result(id=*{id})}" class="btn btn-info">感想</a>
                    </td>
                 
                </tr>     
                    
                    
                
            </tbody>
        </table>
        
</body>