<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理する</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
 
</head> 
<body>
    
    <h1 class="slidebox">
      <p class="toptext">
        <span class="c1">題</span>
        <span class="c2">名</span>
        <span class="c3">を</span>
        <span class="c4">押</span>
        <span class="c5">す</span>
        <span class="c6">と</span>
        <span class="c6">評</span>
        <span class="c6">価</span>
        <span class="c6">で</span>
        <span class="c6">き</span>
        <span class="c6">る</span>
        <span class="c6">よ</span>
        <span class="c6">！</span>
      </p></h1>
    <div class="container" >
        <table class="table table-striped">
            
            <thead class="thead-dark">
            <tr>
               
                <th>ニックネーム</th>
                <th>投稿日</th>
                <th>アップロード画像</th>
                <th>題名</th>
            </tr>   
            <div class="i">
            <a th:href="@{ogiri/new}">新規投稿する方はこちらから</a></div>
            <div class="u">
            <a th:href="@{/login}">管理者の方はこちらから</a> </div>
            
            </thead>

            <tbody> 
                <tr th:each="post : ${posts}" th:object="${post}" enctype="multipart/form-data" th:action="@{/ogiri/{id}(id=${post.id})}">
                   
                    <td th:text="*{nickname}"></td>
                    <td th:text="*{date}"></td>
                    <td>
                        <img th:src="*{imageSource}" alt="image">
                    </td>
                    <td>
                    <a th:href="@{/ogiri/{id}/eval(id=*{id})}" th:text="*{title}"></a>
                    </td>
                    <td>
                    <a th:href="@{/ogiri/{id}/result(id=*{id})}" class="btn btn-info">感想</a>
                    </td>
                 
                </tr>     
                    
                    
                
            </tbody>
        </table>
        
</body> 