<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>新しい投稿</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="stylesheet" th:href="@{/css/new.css}" type="text/css">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <body>
        <h1>投稿内容の確認</h1>
        <form th:method="post " enctype="multipart/form-data" th:action="@{/ogiri}" th:object="${post}" novalidate>
            <div class="container">
                <div class="form-group row">
                    <label for="name" class="col-2">ニックネーム：</label><br>
                    <input type="text" th:field="*{nickname}" th:errorclass="is-invalid">
                    <div th:errors="*{nickname}" class="invakud-feedback"></div>
                </div>

                <div class="form-group row">
                    <label for="date" class="col-2">投稿日：</label><br>
                    <input type="date" th:field="*{date}" th:errorclass="is-invalid">
                    <div th:errors="*{date}" class="invakud-feedback"></div>
                </div>

                <div>
                    <label for="file">アップロード画像: </label><br>
                    <input type="file" name="file">
                </div>
                <h5>※ファイル形式がJPEGじゃないと表示されません。このページの一番下のリンクをクリックして下さい。</h5>

                <div class="form-group row">
                    <label for="title">題名: </label><br>
                    <input type="text" th:field="*{title}">
                    <div th:errors="*{title}" class="invakud-feedback"></div>
                </div>

                <button type="submit" onclick="return confirm('本当に投稿する？？？');" class="btn btn-danger"><i
                        class="fas fa-trash"></i>投稿ボタン</button>

                <div>
                    <a href="https://www.bannerkoubou.com/">こちらからアップロードする画像をJPEGに変換してください。</a>
                </div>
        </form>

    </body>

</html>